.product {
    width: 300px;
    height: 450px;
    border: 1px solid #5d001e;
    border-radius: 8px;
    position: relative;
}
.product img{
    width: 286px;
    height: 286px;
    margin: 7px;
}

.product-info{
    margin:0 14px;
}
.product-info p{
    margin-bottom: 0;
    margin-top: 9px;
}
.product-name{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
margin-top: 7px;
}

.btn-cart{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #e3afbc;
    border: none;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-cart:hover{
    background: #9a1750;
    cursor: pointer;
}

.btn-text{
    margin-right: 5px;
}

@media screen and (max-width:767px) {
    .product {
        width: 235px;
    }
    .product img {
        width: 220px; 
        margin: 7px;    
    }
}

@media screen and (max-width:575px) {
    .product {
        width: 180px;
    }
    .product img {
        width: 160px; 
        margin: 6px;    
    }
}

